@model Employee
@{
    ViewBag.Title = "Skapa Anställd";
}

<form asp-controller="Employee" asp-action="Create">

    <label asp-for="Name"></label>
    <input asp-for="Name" style="width: 30rem;">
    <span asp-validation-for="Name"></span>
    <br />

    <label asp-for="Email"></label>
    <input asp-for="Email" style="width: 30rem;">
    <span asp-validation-for="Email"></span>

    <br />

    <button>Skapa</button>
    <br />



</form>


@section scripts
{
<script src="https://ajax."
asp-fallback-src="~/scripts/lib/jquery/jquery.min.js"
asp-fallback-test="window.jQuery"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}