@{
    ViewBag.Title = "Detalj Vy";
}
@model Employee

<h3>Id:</h3>
<h4>@Model.Id</h4>
<br />
<h3>Namn:</h3>
<h4>@Model.Name</h4>
<br />
<h3>Email:</h3>
<h4>@Model.Email</h4>
<br />
<h3>Instämplad:</h3>
<h4>@Model.PunchedIn</h4>

