@{
    ViewBag.Title = "Alla anställda";
}
@model Employee[]

<ul>
    <h3 style="margin-left: -1rem;">Anställda:</h3>
    @if (Model.Count() == 0)
    {
        <h4>Finns inga anställda just nu</h4>
    }
    else
    {
        @foreach (var employee in Model)
        {
            <li><a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id">@employee.Name</a></li>
        }
    }
</ul>


<a asp-controller="employee" asp-action="Punchclock">Stämpla In / Ut</a>

<br />
<a asp-controller="Employee" asp-action="Create">Lägg till anställd</a>

