@{

}
@model Employee[]
<div>
    @foreach (var person in Model)
    {
        string Start = "";
        string Stop = "";

        if (person.PunchedIn! == true)
        {
            foreach (var time in person.DayStamps)
            {
                <h5>@person.Name - @time.Started</h5>
            }
        }
    }
</div>