@{
   
}
@model Employee[]
<div>
    @foreach (var person in Model)
    {
        string Start = "";
        string Stop = "";
        
        if (person.PunchedIn)
        {
            char[] startArray = Convert.ToString(person.Start)!.ToCharArray();
            startArray![2] = ':';
            Start = new string(startArray)!;

            <h5>@person.Name - kl: @Start</h5>
        }
    }
</div>