@{

}


<div>
    @foreach (var person in Model.EmployeeService.GetAllEmployees())
    {
        if (person.PunchedIn == true)
        {
            <h5>@person.Name - @person.DayStamps![0].Started</h5>
        }
    }
</div>