<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body style="padding-left: 3rem; padding-top: 3rem;">
    <div>
        @RenderBody()
    </div>
    <br />
    
    <a asp-controller="Employee" asp-action="Index">Bakåt</a>

    <br />
    <br />

    <partial name="_TimeBox" model="Model" />

    @RenderSection("scripts", false)
</body>
</html>
